asgiref==3.2.10
Babel==2.9.1
backports.entry-points-selectable==1.1.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
colorama==0.4.4
decorator==5.1.0
distlib==0.3.3
Django==3.1
docutils==0.18
Faker==8.11.0
filelock==3.4.0
gevent==21.8.0
giturlparse==0.10.0
greenlet==1.1.2
idna==3.3
importlib-metadata==4.8.2
Jinja2==3.0.2
lxml==4.6.3
MarkupSafe==2.0.1
modules==1.0.0
mysql-connector-python==8.0.26
mysqlclient==2.0.3
odoo-autodiscover==2.0.0
odoo-tools==0.0.33
packaging==21.2
passlib==1.7.4
Pillow==8.3.1
platformdirs==2.4.0
polib==1.1.1
protobuf==3.17.3
psutil==5.8.0
psycopg2==2.9.1
pycparser==2.20
PyMySQL==1.0.2
pyparsing==2.4.7
PyPDF2==1.26.0
pypiwin32==223
python-dateutil==2.8.2
python-resize-image==1.1.20
pytz==2021.1
qrcode==7.3.1
requests==2.26.0
six==1.16.0
sqlparse==0.4.1
svgwrite==1.4.1
text-unidecode==1.3
toml==0.10.2
toposort==1.7
typing-extensions==3.10.0.0
urllib3==1.26.7
virtualenv==20.10.0
Werkzeug==1.0.1
wrapt==1.13.3
zipp==3.6.0
zope.event==4.5.0
zope.interface==5.4.0
